<a class="btn btn--action" href="/capybara/homeless">Show homeless capybaras</a>
<br>
<a class="btn btn--action" href="/capybara/rehomed">Show rehomed capybaras</a>


<div class='form-container'>
<form method="post" action="/capybaras/show">
<h1>Capybaras</h1>

<table frame="box">
  <tr>
    <th>Name</th>
    <th></th>
    <th>Admission Date</th>
    <th></th>
    <th>Age</th>
    <th></th>
    <th>Available?</th>
  </tr>
  <% for capybara in @capybaras %>
  <tr>
    <td><a href="/capybaras/<%= capybara.id %>"><%= capybara.name %></a></td>
    <td></td>
    <td><%= capybara.admission %></td>
    <td></td>
    <td><%= capybara.age %></td>
    <td></td>

    <td><%= capybara.is_available %></td>
  </tr>
  <% end %>
</table>
