<h1>Capybaras</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Admisson Date</th>
    <th></th>
    <th>Age</th>
    <th></th>
    <th>Available?</th>
  </tr>
  <% for capybara in @capybaras %>
  <tr>
    <td><a href="/capybaras/<%= capybara.id %>"><%= capybara.name %></a></td>
    <td></td>
    <td><%= capybara.admission %></td>
    <td></td>
    <td><%= capybara.age %></td>
    <td></td>
    <td><%= capybara.available %></td>
  </tr>
  <% end %>
</table>
