<div class='form-container'>
<form method="post" action="/capybaras/show">
<h1>Capybaras</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Admisson Date</th>
    <th></th>
    <th>Age</th>
    <th></th>
    <th>Available?</th>
  </tr>
  <% for capybara in @capybaras %>
  <tr>
    <td><a href="/capybaras/<%= capybara.id %>"><%= capybara.name %></a></td>
    <td></td>
    <td><%= capybara.admission %></td>
    <td></td>
    <td><%= capybara.age %></td>
    <td></td>
    <!-- <td> -->
  <!-- <select id="capybara-select" name="available">
    <option value="1">Yes</option>
    <option value="0">No</option>
  </select></td>
  <td><input type="submit" value="Save"></td> -->
    <td><%= capybara.available %></td>
  </tr>
  <% end %>
</table>
